<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="simplycook.marinedos.com.simplycook" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SimplyCook" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".ConnectActivity"
            android:label="@string/app_name"
            android:theme="@style/SimplyCook.noActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.LoginActivity" />
        <activity
            android:name=".CreateAccountActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".MyProfilActivity"
            android:label="@string/title_activity_profil" >
        </activity>
        <activity
            android:name=".FavorisActivity"
            android:label="@string/title_activity_favoris" >
        </activity>
        <activity
            android:name=".ComparaisonActivity"
            android:label="@string/title_activity_comparaison" >
        </activity>
        <activity
            android:name=".ComparaisonChoiceActivity"
            android:label="@string/title_activity_comparaison" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".ProfilActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ComparaisonAddFromFavoris"
            android:label="@string/title_activity_comparaison_add_from_favoris" >
        </activity>


        <service android:name=".Utils.Service.SuggestNotificationService"></service>
    </application>

</manifest>
